/*******************************************************************************
 * Styles for the base elements of the theme.
 ******************************************************************************/

// Typography

h1 {
  color: var(--global-header1-color);
}

h2 {
  color: var(--global-header2-color);
}

h3 {
  color: var(--global-header3-color);
}

p,
h4,
h5,
h6,
em,
div,
span,
strong {
  color: var(--global-text-color);
}

a,
table.table a {
  color: var(--global-theme-color);

  &:hover {
    color: var(--global-theme-color);
    text-decoration: underline;
  }

  &:hover:after :not(.nav-item.dropdown) {
    width: 100%;
  }
}

blockquote {
  background: var(--global-bg-color);
  border-left: 2px solid var(--global-theme-color);
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  font-size: 1.2rem;
}



// Caption

.caption {
  font-size: 0.875rem;
  margin-top: 0.75rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

// Citation
.citation,
.citation-number {
  color: var(--global-theme-color);
}


.post-description {
  margin-bottom: 2rem;
  font-size: 0.875rem;

  a {
    color: inherit;

    &:hover {
      color: var(--global-theme-color);
      text-decoration: none;
    }
  }
}



// Publications

.publications {
  margin-top: 2rem;

  h1 {
    color: var(--global-theme-color);
    font-size: 2rem;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  h2 {
    margin-bottom: 1rem;

    span {
      font-size: 1.5rem;
    }
  }

  // h2.year {
  h2.bibliography {
    color: var(--global-divider-color);
    border-top: 1px solid var(--global-divider-color);
    padding-top: 1rem;
    margin-top: 2rem;
    margin-bottom: -2rem;
    text-align: right;
  }

  ol.bibliography {
    list-style: none;
    padding: 0;
    margin-top: 0;

    li {
      margin-bottom: 1rem;

      .abbr {
        height: 2rem;
        margin-bottom: 0.5rem;

        abbr {
          //display: block; //inline-block;
          width: 6rem;
          color: var(--global-bg-color) !important;
          background-color: var(--global-divider-color);
          padding-left: 1rem;
          padding-right: 1rem;

          @media (max-width: 576px) {
            width: auto;
          }

          a {

            // color: white;
            &:hover {
              text-decoration: none;
            }
          }
        }

        .award {
          display: inline-block;
          color: var(--global-theme-color) !important;
          border: 1px solid var(--global-theme-color);
          white-space: normal;
          width: 6rem;

          @media (max-width: 576px) {
            white-space: nowrap;
            width: auto;
          }
        }
      }

      .title {
        color: var(--global-header3-color) !important;
        font-weight: bolder;
      }

      .author {
        a {
          border-bottom: 1px dashed var(--global-theme-color);

          &:hover {
            border-bottom-style: solid;
            text-decoration: none;
          }
        }

        >em {
          border-bottom: 1px solid;
          font-style: normal;
        }
      }

      .links {
        a.btn {
          color: var(--global-text-color);
          border: 1px solid var(--global-text-color);
          padding-left: 1rem;
          padding-right: 1rem;
          padding-top: 0.25rem;
          padding-bottom: 0.25rem;

          &:hover {
            color: var(--global-theme-color);
            border-color: var(--global-theme-color);
          }
        }
      }

      .hidden {
        font-size: 0.875rem;
        max-height: 0px;
        overflow: hidden;
        text-align: justify;
        -webkit-transition: 0.15s ease;
        -moz-transition: 0.15s ease;
        -ms-transition: 0.15s ease;
        -o-transition: 0.15s ease;
        transition: all 0.15s ease;

        p {
          line-height: 1.4em;
          margin: 10px;
        }

        pre {
          font-size: 1em;
          line-height: 1.4em;
          padding: 10px;
        }
      }

      .hidden.open {
        max-height: 100em;
        -webkit-transition: 0.15s ease;
        -moz-transition: 0.15s ease;
        -ms-transition: 0.15s ease;
        -o-transition: 0.15s ease;
        transition: all 0.15s ease;
      }

      div.abstract.hidden {
        border: dashed 1px var(--global-bg-color);
      }

      div.abstract.hidden.open {
        border-color: var(--global-text-color);
      }
    }
  }
}

// course layout
.course {
  .course-title {
    color: var(--global-text-color);
  }

  .course-name {
    color: var(--global-text-color2);
  }
}

// Teaching

.teaching {
  a {
    text-decoration: none;

    &:hover {
      .card-title {
        color: var(--global-theme-color);
      }
    }
  }

  .card {
    height: 90%;

    img {
      width: 100%;
    }

    .card-title {
      color: var(--card-title-color);
      //font-size: 2.5rem;//1.8rem;
    }

    .card-body {
      .card-text {
        color: var(--card-text-color);
        font-size: 1.2rem;
      }
    }

    background-color: var(--card-bg-color);
    color: var($red-color-dark);
    //color: var(--global-theme-color);
  }

  .card-item {
    width: auto;
    margin-bottom: 10px;
    height: 100%;

    .row {
      display: flex;
      align-items: center;
    }
  }

  .grid-item {
    width: 310px;
    margin-bottom: 10px;
  }

  h2.category {
    color: var(--global-divider-color);
    border-bottom: 1px solid var(--global-divider-color);
    padding-top: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: right;
  }
}

// Rouge Color Customization
figure.highlight {
  margin: 0 0 1rem;
}

pre {
  color: var(--code-text-color);
  background-color: var(--code-bg-color);
  border-radius: 6px;
  padding: 6px 12px;

  pre,
  code {
    background-color: transparent;
    border-radius: 0;
    padding: 0;
  }
}

code {
  color: var(--code-text-color);
  background-color: var(--code-bg-color);
  border-radius: 3px;
  padding: 3px 3px;
}


// Transitioning Themes
html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}