/*******************************************************************************
 * Themes
 ******************************************************************************/
 
:root {
  --global-bg-color: #{$white-color};
  --global-code-bg-color: #{$cp2-purple-light};
  --global-text-color: #{$black-color};
  --global-text-color2: #{$cp2-gray};
  --global-text-color3: #{$cp2-gray};
  --global-theme-color: #{$cp2-purple};
  --global-hover-color: #{$cp2-purple};
  --global-card-bg-color: #{$white-color};
  --global-card-title-color: #{$cp2-gray-dark};
  --global-card-text-color: #{$cp2-gray};
  --global-divider-color: #{$cp2-gray-light};
  --global-footer-bg-color: #{$cp2-gray};
  --global-footer-text-color: #{$cp2-gray-light2};
  --global-footer-link-color: #{$cp2-purple-light};
  --global-distill-app-color: #{$cp2-gray};
  --global-pagination-bg-active-color: #{$cp2-purple-light};
  --global-pagination-bg-hover-color: #{$cp2-gray-light2};


  .fa-sun {
    display : none;
  }
  .fa-moon {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }
}

html[data-theme='dark'] {

  --global-bg-color: #{$cp1-gray-dark2};
  --global-code-bg-color: #{$cp1-gray};
  --global-code-text-color: #{$cp1-purple-light};
  --global-text-color: #{$cp1-gray-light2};
  --global-text-color2: #{$cp1-gray-light};
  --global-text-color3: #{$cp1-purple-light};
  --global-theme-color: #{$cp1-purple};
  --global-hover-color: #{$cp1-purple};
  --global-card-bg-color: #{$cp1-gray-dark};
  --global-card-title-color: #{$cp1-gray-light2};
  --global-card-text-color: #{$cp1-gray-light};
  --global-divider-color: #{$cp1-purple-light};
  --global-footer-bg-color: #{$cp1-gray-dark};
  --global-footer-text-color: #{$cp1-gray-light};
  --global-footer-link-color: #{$cp1-purple-light};
  --global-distill-app-color: #{$red-color-dark};
  --global-pagination-bg-active-color: #{$cp1-purple};
  --global-pagination-bg-hover-color: #{$cp1-gray-dark};

  .fa-sun {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }
  .fa-moon {
    display : none;
  }
}
