/*******************************************************************************
 * Variables used throughout the theme.
 * To adjust anything, simply edit the variables below and rebuild the theme.
 ******************************************************************************/


// Colors

// color palette 1
$cp1-gray-dark2:      #1E1E1E !default;
$cp1-gray-dark:       #292929 !default;
$cp1-gray:            #3B3B3B !default;
$cp1-gray-light:      #AAAAAA !default;
$cp1-gray-light2:     #DDDDDD !default;
$cp1-purple-dark:     #3C1C5F !default;
$cp1-purple:          #A271D6 !default;
$cp1-purple-light:    #C19FE5 !default;

// warm
$pink-color:          #f92080 !default;
$pink-color-light:    #ffdddd !default;

$red-color:           #FF3636 !default;
$red-color-dark:      #B71C1C !default;

$orange-color:        #F29105 !default;

$yellow-color:        #efcc00 !default;

// cool
$green-color:         #00ab37 !default;
$green-color-lime:    #B7D12A !default;
$green-color-dark:    #009f06 !default;
$green-color-light:   #ddffdd !default;
$green-color-bright:  #11D68B !default;

$cyan-color:          #2698BA !default;
$cyan-light-color:    lighten($cyan-color, 25%);

$blue-color:          #0076df !default;
$blue-color-dark:     #00369f !default;
$purple-color:        #B509AC !default;
$purple-light-color:  lighten($purple-color, 25%);

// tints
$grey-color:          #828282 !default;
$grey-color-light:    lighten($grey-color, 40%);
$grey-color-dark:     darken($grey-color, 25%);

$white-color: #ffffff !default;
$black-color: #000000 !default;


// Theme colors

$code-bg-color-light:     rgba($purple-color, 0.05);
$code-bg-color-dark:      #2c3237 !default;

